.project-list {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.project-list .description {
  height: 48px;
  width: 200px;
}

.project-list li {
  width: auto;
}

@media screen and (max-width: 720px) {
  .project-list {
    display: flex;
    flex-direction: column;
  }

  .project-list li {
    flex: 1;
    width: auto;
  }

  .project-list .description {
    width: 100%;
  }
}
